
	<div class="container-fluid">
		<div class="jumbotron">
			<div class="row">
				<div class="col-xs-4 col-md-2">
					<img alt="" src="images/moustafa.jpg" width="144" height="144">
				</div>

				<div class="col-xs-12 col-md-8">
					<h2>Moustafa Safwat ElSayed Kotb</h2>
					<h4>
						6 Diaa st., from Eiz El-Din Omar, El-Haram, Giza, Egypt<br/>
						(+2) 01156775769 / (+202) 37430632<br/>
						mostafa.safwat.1@gmail.com<br/>
					</h4>
				</div>
			</div>
		</div>

		<div class="panel-group" id="accordion-panel">
	   		<div class="panel panel-default">
	     		<div class="panel-heading">
	       			<h4 class="panel-title">
	         			<a data-toggle="collapse" data-parent="#accordion-panel" href="#accordion-panel-one">
	           				Career Objectives
	         			</a>
	       			</h4>
	     		</div>
	     		<div id="accordion-panel-one" class="panel-collapse collapse in">
	       			<div class="panel-body">
	         			Over five years of experience in software development and two years in system administration, working with enthusiasm and dedication to gain a process success for my firm and becoming the leading e-payment provider in Egypt and to build a solid career path.<br/><br/>
						My achievements exceeds more than 16 projects were delivered before deadline with quality certificates.<br/><br/>
						Projects I was worked with served with very satisfaction many types of clients in different ages and different categories estimated to be more than fifty millions customers.<br/><br/>
						Also the projects effects national income positively by automating processes in many ministries, authorities and entities like Ministry of Finance, Tax Authority, Customs Authority, Pension Authority, Ministry of Petroleum, Universities, Banks, and many others.<br/><br/>
						Learn new technologies is one of my passion, and over my experience years I used old programming languages like C through C# and java to new programming languages like python.<br/><br/>
						My responsibilities as senior software developer make me more reliable with business process, task management and communication skills.<br/><br/>
						Currently I'm seeking a position with a highly respected firm where I can contribute to its progress and gain experience to help in building my career.
	       			</div>
	     		</div>
	   		</div>

	   		<div class="panel panel-default">
	     		<div class="panel-heading">
	       			<h4 class="panel-title">
	         			<a data-toggle="collapse" data-parent="#accordion-panel" href="#accordion-panel-two">
	           			Technical Skills
	         			</a>
	       			</h4>
	     		</div>
	   			<div id="accordion-panel-two" class="panel-collapse collapse">
	     			<div class="panel-body">
	     				<table>
							<tr><td><strong>Programming Languages</strong></td><td>&nbsp;&nbsp;&nbsp;</td><td>C#, C, Python, Javascript, Java, Shell Script, T-SQL</td></tr>
							<tr><td><strong>Web Technologies</strong></td><td>&nbsp;</td><td>ASP.NET, MVC, Django, Nod.js, JQuery, Angularjs, HTML5, CSS3, Ajax, Bootstrap</td></tr>
							<tr><td><strong>Databases</strong></td><td>&nbsp;</td><td>SQL Server, MySQL, Oracle</td></tr>
							<tr><td><strong>ORM</strong></td><td>&nbsp;</td><td>Entity Framework, Data Class, LINQ</td></tr>
							<tr><td><strong>Web Services</strong></td><td>&nbsp;</td><td>WCF, RESTFUL, SOAP</td></tr>
							<tr><td><strong>XML</strong></td><td>&nbsp;</td><td>XSD, XSLT, XPath</td></tr>
							<tr><td><strong>Application Server</strong></td><td>&nbsp;</td><td>IIS, Websphere, Apache</td></tr>
							<tr><td><strong>Mobile Technologies</strong></td><td>&nbsp;</td><td>Cordova, PhoneGap, Kivy</td></tr>
							<tr><td><strong>Operating Systems</strong></td><td>&nbsp;</td><td>Windows, Linux, Android, Free-RTOS, TI-RTOS</td></tr>
							<tr><td><strong>Cloud</strong></td><td>&nbsp;</td><td>Azure</td></tr>
							<tr><td><strong>Embedded Systems</strong></td><td>&nbsp;</td><td>Tiva C, Raspberry PI, Arduino, AVR</td></tr>
							<tr><td><strong>Network</strong></td><td>&nbsp;</td><td>CCNA, CCNP</td></tr>
	     				</table>	

						<br/><br/>
						
						<div class="container">
					  		<div class="alert alert-info alert-dismissable" style="text-align:center">
					    		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					     		<div>Specialist in ASP.NET Development</div>
					  		</div>
						</div>
	     			</div>
	   			</div>
			</div>

	   		<div class="panel panel-default">
	     		<div class="panel-heading">
	       			<h4 class="panel-title">
	         			<a data-toggle="collapse" data-parent="#accordion-panel" href="#accordion-panel-three">
	           			Work Experience
	         			</a>
	       			</h4>
	     		</div>
	   			<div id="accordion-panel-three" class="panel-collapse collapse">
	     			<div class="panel-body">
						<ul class="nav nav-tabs" role="tablist">
							<li class="active">
								<a href="#tabs-first" role="tab" data-toggle="tab">Senior Software Developer</a>
							</li>
							<li>
								<a href="#tabs-second" role="tab" data-toggle="tab">Software Developer</a>
							</li>
							<li>
								<a href="#tabs-third" role="tab" data-toggle="tab">MCIT Student</a>
							</li>
							<li>
								<a href="#tabs-fourth" role="tab" data-toggle="tab">e-Payment System Administrator</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="active tab-pane fade in" id="tabs-first">
								<h4>1st Jan 2015 &ndash; till now</h4>
								<h4 style="padding-left:5em">Senior Software Developer, e-finance, Smart Village Egypt.</h4>
								<h5 style="padding-left:10em">
								Design and develop programming systems making specific determinations about system performance.<br/>
								Analyze system specifications and translate system requirements to task specifications for junior programmers.<br/>
								Review and repair legacy code.<br/>
								Provide recommendations to management concerning issues of programmer productivity and software development management.<br/>
								Document code consistently throughout the development process by listing a description of the program, special instructions, and any changes made in database level.</h5>
							
							</div>
							<div class="tab-pane fade" id="tabs-second">
								<h4>1st Sep 2011 &ndash; 31 Dec 2014</h4>
								<h4 style="padding-left:5em">Software Developer, e-finance, Smart Village Egypt.</h4>
								<h5 style="padding-left:10em">
								Analyzing and resolving technical and application problems.<br/>
								Involved in all areas of development from design to development to Testing.<br/>
								Package and support deployment of releases.<br/>
								Developing, refining, and tuning integrations between applications.</h5>
							</div>

							<div class="tab-pane fade" id="tabs-third">
							 	<h4>1st Dec 2010 &ndash; 31st Aug 2011</h4>
								<h4 style="padding-left:5em">MCIT (Ministry of Communication and Information Technology) Scholarship</h4>
								<h5 style="padding-left:10em">
								Develop Social Network System for graduation project.<br/>
								Develop Website for National Telecommunication Institute.<br/>
								Train on Dot Net Applications and Services.<br/>
								Train on Project Management.<br/>
								Train on SDLC.<br/>
								Train on Business English and Communication Skills.</h5>
							</div>

							<div class="tab-pane fade" id="tabs-fourth">
							 	<h4>1st Aug 2008 &ndash; 30th Nov 2010</h4>
								
								<h4 style="padding-left:5em">e-Payment System Administrator, IT Department, e-finance.</h4>
								<h5 style="padding-left:10em">
								Administrate e-Payment systems.<br/>
								Modeling Business Cases.<br/>
								Deploy e-Payment system.<br/>
								Troubleshot e-Payment Systems.<br/>
								Admin Production Oracle Databases.<br/>
								Tracing Java Exceptions.</h5>
							</div>
						</div>
	     			</div>
	   			</div>
	   		</div>
			

	   		<div class="panel panel-default">
	     		<div class="panel-heading">
	       			<h4 class="panel-title">
	         			<a data-toggle="collapse" data-parent="#accordion-panel" href="#accordion-panel-four">
	           			Achievements
	         			</a>
	       			</h4>
	     		</div>
	   			<div id="accordion-panel-four" class="panel-collapse collapse">
	     			<div class="panel-body">
	       				CCAMS (Customs Current Account Management System)<br/>
						Online Payment Card Processor<br/>
						Egypt Gateway Tax Service<br/>
						Fuel Subsidy Management System<br/>
						Vodafone Pensioner Bundle IVR System<br/>
						CPS (Corporate Payments System)<br/>
						BPS (Bill Payment through Egyptian Banks).<br/>
						EAS (Accounting and Online Payment System).<br/>
						VMC SMS (SMS Gateway based on VMC).<br/>
						Advertising and Personal Websites.<br/>
						DotStream System (Social Networking System).<br/>
						GPS (Government Payment System).<br/>
						e-Payment System (Government Electronic Payment).<br/>
						TSA (Government Treasury Single Account).<br/>
						PFRA (Portal of Fuel Registration).<br/>
						Cisco SocialMiner Integration.<br/>
						CMS (Card Management System).<br/>
	     			</div>
	   			</div>
			</div>

			<div class="panel panel-default">
	     		<div class="panel-heading">
	       			<h4 class="panel-title">
	         			<a data-toggle="collapse" data-parent="#accordion-panel" href="#accordion-panel-five">
	           			Certifications
	         			</a>
	       			</h4>
	     		</div>
	   			<div id="accordion-panel-five" class="panel-collapse collapse">
	     			<div class="panel-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-xs-10 col-md-8 col-xs-offset-1 col-md-offset-2">
									<div id="carousel-demo" class="carousel slide" data-ride="carousel">
			   							<ol class="carousel-indicators">
								     		<li data-target="#carousel-demo" data-slide-to="0" class="active"></li>
								     		<li data-target="#carousel-demo" data-slide-to="1"></li>
								     		<li data-target="#carousel-demo" data-slide-to="2"></li>
								     		<li data-target="#carousel-demo" data-slide-to="3"></li>
								     		<li data-target="#carousel-demo" data-slide-to="4"></li>
								     		<li data-target="#carousel-demo" data-slide-to="5"></li>
								     		<li data-target="#carousel-demo" data-slide-to="6"></li>
								   		</ol>
			   						<div class="carousel-inner">
			     				<div class="item active"> 
			       					<img alt="First slide" src="images/MCPD.png" />
			       					<div class="carousel-caption">
					         			<h3>MCPD</h3>
					         			<p>Microsoft</p>
					       			</div>
					     		</div>
					     		<div class="item">
					       			<img alt="Second slide" src="images/ASPNETDeveloper.png" />
					       			<div class="carousel-caption">
					         			<h3>ASP.NET Developer 3.5</h3>
					         			<p>Microsoft</p>
					       			</div>
					     		</div>
					     		<div class="item">
					       			<img alt="Third slide" src="images/MCTS.png" />
					       			<div class="carousel-caption">
					         			<h3>MCTS</h3>
					         			<p>Microsoft</p>
					       			</div>
					     		</div>
					     		<div class="item">
					       			<img alt="Fourth slide" src="images/NETFramework.png" />
					       			<div class="carousel-caption">
					         			<h3>.NET Framework 3.5, ASP.NET Applications</h3>
					         			<p>Microsoft</p>
					       			</div>
					     		</div>
					     		<div class="item">
					       			<img alt="Fivth slide" src="images/Transcript.png" />
					       			<div class="carousel-caption">
					         			<h3>Transcript</h3>
					         			<p>Microsoft</p>
					       			</div>
					     		</div>
					     		<div class="item">
					       			<img alt="Sixth slide" src="images/EmbededSystem.png" />
					       			<div class="carousel-caption">
					         			<h3>6.02x: Embedded Systems - Shape the World</h3>
					         			<p>EDX, THE UNIVERSITY of TEXAS SYSTEM</p>
					       			</div>
					     		</div>
					     		<div class="item">
					       			<img alt="Seventh slide" src="images/Linux.png" />
					       			<div class="carousel-caption">
					         			<h3>LFS101x: Introduction to Linux</h3>
					         			<p>EDX, lINUX FOUNDATION</p>
					       			</div>
					     		</div>
				     		</div>
				   		</div>
					   		<a class="left carousel-control" href="#carousel-demo" data-slide="prev">
					     		<span class="glyphicon glyphicon-chevron-left"></span>
					   		</a>
					   		<a class="right carousel-control" href="#carousel-demo" data-slide="next">
					     		<span class="glyphicon glyphicon-chevron-right"></span>
					   		</a>
						</div>
					</div>
				</div>
			</div>

	     			</div>
	   			</div>
	

			<div class="panel panel-default">
	     		<div class="panel-heading">
	       			<h4 class="panel-title">
	         			<a data-toggle="collapse" data-parent="#accordion-panel" href="#accordion-panel-six">
	           			Courses
	         			</a>
	       			</h4>
	     		</div>
	   			<div id="accordion-panel-six" class="panel-collapse collapse">
	     			<div class="panel-body">
	       				<h4>Sponsored by Global Knowledge</h4>
							<div style="padding-left:5em">Designing and Optimizing Database Solutions with Microsoft SQL Server 2008(MS-50401)</div><br/>
						
						<h4>Sponsored by MCIT (Ministry of Communication and Information Technology) and the authority of Raya Academy</h4>
							<div style="padding-left:5em">Implementing Microsoft Office SharePoint Server (5061A)<br/>
							Core Distributed Application Development (2549A)<br/>
							Core Distributed Application Development (2548B)<br/>
							Visual studio 2008 ASP.NET 3.5 (6463A)<br/>
							Developing Web Applications (Workshop 3210C)<br/>
							Advanced Foundation of Development (Workshop 2957B)<br/>
							Core Foundation of Development (Workshop 2956B)<br/>
							Advanced Data Access (Workshop 2542A)<br/>
							Core Data Access (Workshop 2541B)<br/>
							Advanced Web Application Technologies (Workshop 2544A)<br/>
							Core Web Application Technologies (Workshop 2543B)<br/>
							Programming and Solution Development Essential<br/>
							Transact-SQL<br/>
							Microsoft Project<br/>
							Business, Planning and Reporting Solution</div><br/>

						<h4>Sponsored by AMIT</h4>
							<div style="padding-left:5em">Embedded System on AVR</div><br/>

						<h4>Self-Study</h4>
							<div style="padding-left:5em">Python, django, C, C++, MVC, MySQL 5 Developer (1Z0-871), JAVA SE 7, Angularjs, HTML 5, Cordova, PhoneGap, Node.js, Bootstrap</div><br/>
						
						<h4>Sponsored by IT Academy</h4>
							<div style="padding-left:5em">IT Essential II<br/>
							IT Essential I<br/>
							LUNIX +<br/>
							Server+</div><br/>
						
						<h4>Sponsored by Future Generation Foundation (FGF) and Authority of Amideast and Newhorizons</h4>
							<div style="padding-left:5em">Basic Business Skills Acquisition (BBSA)</div><br/>

	     			</div>
	   			</div>
			</div>

			<div class="panel panel-default">
	     		<div class="panel-heading">
	       			<h4 class="panel-title">
	         			<a data-toggle="collapse" data-parent="#accordion-panel" href="#accordion-panel-seven">
	           			Education
	         			</a>
	       			</h4>
	     		</div>
	   			<div id="accordion-panel-seven" class="panel-collapse collapse">
	     			<div class="panel-body">
	     				<h4>20th May 2007 B.sc of Commerce, Cairo University.</h4>
						<h4>Preparing Computer Science Diploma in 6th Of October University.</h4>
	     			</div>
	   			</div>
			</div>

			<div class="panel panel-default">
	     		<div class="panel-heading">
	       			<h4 class="panel-title">
	         			<a data-toggle="collapse" data-parent="#accordion-panel" href="#accordion-panel-eight">
	           			Personal Data
	         			</a>
	       			</h4>
	     		</div>
	   			<div id="accordion-panel-eight" class="panel-collapse collapse">
	     			<div class="panel-body">
						<strong>Date of Birth:</strong> 20th November 1985<br/>
						<strong>Marital Status:</strong> Married and have a son<br/>
						<strong>Military Service:</strong> Exempted<br/>
						<strong>Nationality:</strong> Egyptian<br/>
	     			</div>
	   			</div>
			</div>
		</div>
	</div>

	<div class="container">
  		<div class="alert alert-info alert-dismissable" style="text-align:center">
    		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
     		<div>References furnished upon request</div>
  		</div>
	</div>
	
	<!--
	<div class="container">
		<h2 class="visible-lg">Large</h2>
		<h2 class="visible-md">Medium</h2>
		<h2 class="visible-sm">Small</h2>
		<h2 class="visible-xs">Extra Small</h2>
		<h2 class="visible-print">Print</h2>
		</div>
	-->

	<script type="text/javascript">
		function search_cv(){
			var str = "Technical Skills Languages C#, C, Python, Javascript, Java, Shell Script, T-SQL Web Technologies ASP.NET, MVC, Django, Nod.js, JQuery, Angularjs, HTML5, CSS3, Ajax Databases SQL Server, MySQL, Oracle ORM Entity Framework, Data Class, LINQ Web Services WCF, RESTFUL, SOAP XML XSD, XSLT, XPath Application Server IIS, Websphere, Apache Mobile Technologies Cordova, PhoneGap, Kivy Operating Systems Windows, Linux, Android, Free-RTOS, TI-RTOS Cloud Azure Embedded Systems Tiva C, Raspberry PI, Arduino, AVR Network CCNA, CCNP"; 

    		var n = str.search($('#id_search').val());
    		if(n > 0) {
				if ($('#accordion-panel-one').hasClass('in')) {$('#accordion-panel-one').collapse('toggle');}
				if ($('#accordion-panel-two').hasClass('in')) {$('#accordion-panel-two').collapse('toggle');}
				if ($('#accordion-panel-three').hasClass('in')) {$('#accordion-panel-three').collapse('toggle');}
				if ($('#accordion-panel-four').hasClass('in')) {$('#accordion-panel-four').collapse('toggle');}
				if ($('#accordion-panel-five').hasClass('in')) {$('#accordion-panel-five').collapse('toggle');}
				if ($('#accordion-panel-six').hasClass('in')) {$('#accordion-panel-six').collapse('toggle');}
				if ($('#accordion-panel-seven').hasClass('in')) {$('#accordion-panel-seven').collapse('toggle');}
				if ($('#accordion-panel-eight').hasClass('in')) {$('#accordion-panel-eight').collapse('toggle');}
    			$('#accordion-panel-two').collapse('toggle');
    		}
    		return false;
		}
	</script>
